/__pycache__/
build/
*.egg-info/
*.so
*.mp4
*.png
tmp*
trial*/
*.txt
*.bin
__pycache__
data
*.txt
*.jpg
*.jpeg
pretrained
logs
runs
*.mp4
.DS_Store
.idea
*.log
dist
.ipynb_checkpoints
*.pth
*.pt
assets
tests